body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #e0e0e0;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(91, 165, 16);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
}

.board {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    height: 50px;
    width: 150px;
    cursor: pointer;
    background-color: greenyellow;
    border-radius: 5px;
}

.cell:hover {
    background-color: #ddd;
}

.x::before {
    content: "X";
    color: blue;
    position: absolute;
}

.circle::before {
    content: "O";
    color: red;
    position: absolute;
}

.scores-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
    font-size: 1.2em;
}

.playerX,
.playerO {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#playerNamesForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#playerNamesForm label {
    margin-bottom: 10px;
}

#submitNames {
    margin-bottom: 35px;
}

input{
    height: 20px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
}